<app-header></app-header>
<div class="credit-wrapper">
    Created by:
    <a href="https://github.com/rnachison" target="_blank">Rebecca Nachison</a>
</div>
<div class="credit-wrapper">
    Icons:
    <a href="http://www.freepik.com" target="_blank">Designed by macrovector_official / Freepik</a>
</div>
<div class="credit-wrapper">
    Candles:
    <a href="http://www.freepik.com" target="_blank">Designed by rawpixel.com / Freepik</a>
</div>
<div class="credit-wrapper">
    Card animation inspired by:
    <a href="https://codepen.io/william-goldsworthy/pen/JzVajj" target="_blank">William Goldsworthy</a>
</div>
<div class="credit-wrapper">
    Day and Night toggle adapted from:
    <a href="https://codepen.io/bnthor/pen/WQBNxO" target="_blank">Benjamin Réthoré</a>
</div>
<div class="credit-wrapper">
    Glow adapted from:
    <a href="https://codepen.io/Stockin/pen/XPvpoB" target="_blank">Stockin</a>
</div>