<app-header></app-header>
<div class="justify-content-md-center form-container row">
    <div class="col col-6">
        <h2>{{title}}</h2>
        <form [formGroup]="userForm" (ngSubmit)="submitForm()">
            <div class="mb-3 text-start">
                <label class="form-label" for="username">Enter Username</label>
                <input class="form-control" type="text" id="username" formControlName="username" placeholder="Username"
                    required>
            </div>

            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                <div *ngIf="username.errors?.['required']">
                    Username is required.
                </div>
            </div>
            <div class="mb-3 text-start">
                <label class="form-label" for="password">Enter Password</label>
                <input class="form-control" type="password" id="password" formControlName="password"
                    placeholder="Password" required>
            </div>

            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                <div *ngIf="password.errors?.['required']">
                    Password is required.
                </div>
            </div>
            <button class="btn save-button" type="submit" [disabled]="userForm.invalid">{{submitName}}</button>
            <button class="btn" type="button" (click)="reroute()">{{routeName}}</button>
        </form>
    </div>
</div>