<form class="task-form form-container" autocomplete="off" [formGroup]="taskForm" (ngSubmit)="submitForm()">
    <div class="mb-3 text-start">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" id="title" formControlName="title" placeholder="Title" required>
    </div>

    <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
        <div *ngIf="title.errors?.['required']">
            Title is required.
        </div>
    </div>

    <div class="mb-3 text-start">
        <label class="form-label" for="notes">Notes</label>
        <input class="form-control" type="text" formControlName="notes" placeholder="Notes">
    </div>

    <div class="mb-3 text-start">
        <label class="form-label" for="dueDate">Due Date</label>
        <mat-form-field class="form-control">
            <input matInput [matDatepicker]="datepicker" formControlName="dueDate">
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
        </mat-form-field>
    </div>

    <div *ngIf="dueDate.invalid && (dueDate.dirty || dueDate.touched)" class="alert alert-danger">
    </div>

    <app-celestial-toggle [value]="!!isComplete.value" [id]="index"
        (statusChanged)="onStatusChanged($event)"></app-celestial-toggle>

    <div *ngIf="notes.invalid && (notes.dirty || notes.touched)" class="alert alert-danger">
    </div>
    <div class="button-wrapper">
        <button class="btn save-button" type="submit" [disabled]="taskForm.invalid">Save</button>
        <button class="btn btn-danger destroy-button" type="button" (click)="discardTask()">Discard</button>
    </div>
</form>