@import '../../styles/_variables';

.form-container {

    .form-control {
        background-color: $moon;
        color: $midnight-purple;
    }

    .form-label {
        color: $magic-orange;
        font-size: 1rem;
    }

    .due-date {

        .vc-container {
            font-family: $body-font;

            .vc-highlight {
                background-color: $blood-red;
            }
        }

    }

    .button-wrapper {

        margin: 10px auto;

        .btn {

            &.save-button {

                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: $flame;
                    transition: .5s;
                    transform: scale(.9);
                    z-index: -1;
                }

                &:hover {
                    color: $magic-orange;
                    box-shadow: $flame-shadow;
                    text-shadow: $flame-shadow;

                    &:before {
                        transform: scale(1.2);
                        box-shadow: $flame-shadow;
                        filter: blur(3px);
                    }
                }

                &:disabled {

                    &:before {
                        opacity: 0;
                    }
                }
            }

            &.destroy-button {
                &:hover {
                    color: $gold !important;
                    box-shadow: $gold-shadow;
                    text-shadow: $gold-shadow;

                    &:before {
                        transform: scale(1.2);
                        box-shadow: $gold-shadow;
                        filter: blur(3px);
                    }
                }
            }
        }
    }
}