<div class="card">
    <div class="card-body">
        <div class="front">
            <img class="symbol" [src]="imagePath" />
            <h5 class="card-title task-title">{{task.title}}</h5>
            <p class="card-text due-date">{{task.symbol}}</p>
            <p class="card-text task-notes">{{task.notes}}</p>
        </div>
        <div class="back">
            <app-task-form [initialState]="taskForm" (formSubmitted)="editTask($event)"
                (taskDiscarded)="onTaskDiscarded()">
            </app-task-form>
        </div>
    </div>
</div>