<div id="overlay" [ngClass]="{ 'chosen': chosenTask.title?.length }" (click)="closeTask()">
</div>
<app-header></app-header>
<div class="deck-wrapper">
    <div class="card-deck row">
        <div class="col card-col" *ngFor="let task of tasks$ | async">
            <app-task-card [task]="task" (taskEdited)="refreshDeck()" (discarded)="refreshDeck()"
                (click)="chooseTask(task)"
                [ngClass]="{ 'chosen': task === chosenTask, 'unchosen': task === unChosenTask }">

            </app-task-card>
        </div>
    </div>
</div>