@import '../../styles/_variables';

#overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
    opacity: 0;
    transition: $transition;
    background: #000;
    pointer-events: none;

    &.chosen {
        opacity: 0.5;
        pointer-events: auto;
        transition: $transition;
    }
}

.show-complete-toggle {
    display: flex;
    padding-left: 110px;
    padding-top: 20px;
}

.deck-wrapper {

    padding: 60px 0;

    .card-deck {
        margin-left: 50px;
        padding-left: 15px;
        display: flex;
        flex-wrap: wrap;

        .card-col {
            max-width: $card-width;
        }
    }
}