@import '../../styles/_variables';

#overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
    opacity: 0;
    transition: $transition;
    background: #000;
    pointer-events: none;

    &.chosen {
        opacity: 0.5;
        pointer-events: auto;
        transition: $transition;
    }
}

.show-complete-toggle {
    display: flex;
    padding-left: 110px;
    padding-top: 20px;
}

.deck-wrapper {

    $row-length: var(--row-length);

    padding: 60px 100px 60px 0;
    //calculate for max number of cards
    // width: calc(((#{$card-width} + #{$card-pull}) * (#{$row-length})) - (3 * #{$card-pull}));

    // @media (min-width: $breakpoint-md) {
    //   width: 500px;
    // }
    // @media (min-width: $breakpoint-lg) {
    //   width: 675px;
    // }
    // @media (min-width: $breakpoint-xl) {
    //   width: 850px;
    // }

    .card-deck {
        margin-left: 50px;
        padding-left: 15px;

        .task-list-enter-active {
            transition: 0.4s ease-out 0.4s;
        }

        .task-list-leave-active,
        .task-list-move {
            transition: 0.4s ease-out;
        }

        /* .task-list-leave-active below version 2.1.8 */
        .task-list-enter,
        .task-list-leave-to {
            opacity: 0;
            width: 0;
            transform: translateY(50%);
        }

        .card-col {
            max-width: $card-width;
        }
    }
}