<app-header></app-header>
<div id="overlay" [ngClass]="{ 'chosen': chosenTask.title?.length }" (click)="closeTask()">
</div>
<div class="col col-9" #deckContainer (window:resize)="onResize(deckContainer.offsetWidth)">
    <app-celestial-toggle [id]="-1" class="show-complete-toggle" (statusChanged)="onStatusChanged($event)">
    </app-celestial-toggle>
    <div class="deck-wrapper" [style.width]="getDeckWrapperWidth(deckContainer.offsetWidth)">
        <div class="card-deck">
            <div class="col card-col" *ngFor="let task of tasks$ | async; index as i" @enterLeave>
                <app-task-card [task]="task" [index]="i" (taskEdited)="refreshDeck()" (discarded)="refreshDeck()"
                    (click)="chooseTask(task)"
                    [ngClass]="{ 'chosen': task === chosenTask, 'unchosen': task === unChosenTask }">
                </app-task-card>
            </div>
        </div>
    </div>
</div>