@use '@angular/material' as mat;

@include mat.core();

// Material Design Datepicker Styles
.mat-mdc-text-field-wrapper {
    .mat-mdc-form-field-flex {
        align-items: center;
    }
}

.cdk-overlay-container {
    --mat-datepicker-calendar-container-background-color: #8C311C;
    --mat-datepicker-calendar-period-button-icon-color: #f2b705;

    color: $gold;

    .mat-calendar-controls {
        margin: 2% calc(4.7142857143% - 16px);
    }

    .mat-mdc-icon-button {
        --mdc-icon-button-state-layer-size: 40px;
    }

    .mat-calendar-previous-button,
    .mat-calendar-next-button {
        &:hover {
            box-shadow: 0 0 15px $gold;
            text-shadow: 0 0 15px $gold;
        }
    }

    .mat-calendar-body-cell {
        color: $gold;

        .mat-calendar-body-cell-content {
            height: 85%;
            width: 85%;

            &:hover {
                box-shadow: 0 0 15px $gold;
                text-shadow: 0 0 15px $gold;
            }
        }

    }
}